body{
    background-image: url(https://images.unsplash.com/photo-1652116120971-b2cff4f70f75?);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

form {
    border: 0px;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
}